body, html {
background-color: #CCEB9D;
height: 100%;
}

header {
background-color: #739D34;
border: #2F4E00 solid 3px;
padding: 5px;
height: 70px;
}

header h1 {
font-family: Arial, sans-serif;
display: inline-block;
padding-left: 20px;
margin-top: 8px;
}

button#reset {
display: inline-block;
margin-left: 30px;
}

header, #container {
max-width: 1000px;
margin: 0 auto;
box-sizing: border-box;
}

#container {
background: white;
border: #2F4E00 solid 3px;
display: block;
height: 100%;
padding: 10px;
font-family: Arial, sans-serif;
font-size: 1em;
}

#content {
height: 800px;
padding: 15px;
}

p, .correctInfo {
  text-align: center;
  padding: 15px;
}

img, button {
display: block;
margin: 0 auto;
padding: 5px;
}

button {
margin: 5px auto;
cursor: default;
background-color: #4F7514;
border: 2px solid #2F4E00;
border-radius: 5px;
font-size: 1em;
font-weight: bold;
}

button:hover {
-moz-box-shadow: 0 0 2px 2px #2F4E00;
-webkit-box-shadow: 0 0 2px 2px #2F4E00;
box-shadow: 0 0 2px 2px #2F4E00;
}

.choices {
width: 100%;
display: inline-block;
text-align: center;
}

ul li { 
background-color: #4F7514;
border: 2px solid #2F4E00;
border-radius: 5px;
margin: 5px auto;
padding: 5px;
width: 35%;
font-weight: bold;
cursor: default;
text-align: center;
}

ul li:hover, ul li:active {
opacity: 0.7;
}

.correctAnswer, .wrongAnswer { 
width: 100%;
display: inline-block;
text-align: center;
padding: 5px;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 600px) {
    header h1 {
    font-size: 2em;
  }
}

/* Color Pallet: http://paletton.com/#uid=12r0u0kllllaFw0g0qFqFg0w0aF 
*/